<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A bit about myself</h2>
                <hr class="light">
                <div class="space-bottom-40">
                    <p class="text-faded justify">I built my first website in 2014 as a hobby and since them I have been working on turning my passion into a career.</p>
                    <p class="text-faded justify">During this time I studied at the Dublin Institute of Design and I just completed a Higher Diploma at the National College of Ireland, both of which introduced me to this new world and let me gain new skills. </p> 
                    <p class="text-faded justify">I gain experience working with front-end with two company for several months now. Furthermore, I particularly enjoy working in a team and take great pride in my expertise so as to produce the highest quality code. </p>
                </div>
                <h2 class="section-heading">Skills </h2>
                    <hr class="light">
                    <div class="col-xs-6 col-sm-6 progress-container">
                        <div class="progress progress-striped active">
                            <div class="progress-80 progress-bar-warning" style="width:0%"><p>HTML5</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-80 progress-bar-warning" style="width:0%"><p>CSS</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-85 progress-bar-warning" style="width:0%"><p>Bootstrap</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-75 progress-bar-warning" style="width:0%"><p>SQL</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-75 progress-bar-warning" style="width:0%"><p>XML</p></div>
                    </div>
                    <div class="progress progress-striped active">
                            <div class="progress-30 progress-bar-warning" style="width:0%"><p>UX</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-65 progress-bar-warning" style="width:0%"><p>C#</p></div>
                    </div>
                       <div class="progress progress-striped active">
                            <div class="progress-50 progress-bar-warning" style="width:0%"><p>Ruby</p></div>
                    </div>
                    <div class="progress progress-striped active">
                            <div class="progress-30 progress-bar-warning" style="width:0%"><p>Phyton</p></div>
                    </div>
                    </div>
                    
                   <div class="col-xs-6 col-sm-6 progress-container">
                         <div class="progress progress-striped active">
                            <div class="progress-70 progress-bar-warning" style="width:0%"><p>JavaScript</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-70 progress-bar-warning" style="width:0%"><p>jQuery</p></div>
                    </div>
                    <div class="progress progress-striped active">
                            <div class="progress-30 progress-bar-warning" style="width:0%"><p>Angular JS</p></div>
                    </div>
                    <div class="progress progress-striped active">
                            <div class="progress-50 progress-bar-warning" style="width:0%"><p>Foundation</p></div>
                    </div>
                    
                      <div class="progress progress-striped active">
                            <div class="progress-70 progress-bar-warning" style="width:0%"><p>JSON</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-50 progress-bar-warning" style="width:0%"><p>Photoshop</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-80 progress-bar-warning" style="width:0%"><p>GIT</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-50 progress-bar-warning" style="width:0%"><p>Agile development</p></div>
                    </div>
                     <div class="wow bounce" data-wow-iteration="infinite" data-wow-duration="3000ms">
                      <div class="progress progress-striped active">
                            <div class="progress-bar13 progress-bar-warning " style="width:0%"><p>Willingness to learn more</p></div>
                            </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
