<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A bit about myself</h2>
                <hr class="light">
                <p class="text-faded justify">I built my first website in 2014 as a hobby and since them I have been working on turning my passion into a career.</p>
                <p class="text-faded justify">During this time I studied at the Dublin Institute of Design and I am currently completing a Higher Diploma at the National College of Ireland, both of which introduced me to this new world and let me gain new skills. </p> 
                <p class="text-faded justify">I particularly enjoy working in a team and take great pride in my expertise so as to produce the highest quality code. </p>
                   <h2 class="section-heading">Skills </h2>
                    <hr class="light">
                    <div class="col-xs-6 col-sm-6 progress-container">
                        <div class="progress progress-striped active">
                            <div class="progress-bar-1 progress-bar-warning" style="width:0%"><p>HTML5</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-bar-1 progress-bar-warning" style="width:0%"><p>CSS</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-bar2 progress-bar-warning" style="width:0%"><p>Bootstrap</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-bar3 progress-bar-warning" style="width:0%"><p>SQL</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-bar4 progress-bar-warning" style="width:0%"><p>XML</p></div>
                    </div>
                     <div class="progress progress-striped active">
                            <div class="progress-bar5 progress-bar-warning" style="width:0%"><p>ASP.NET</p></div>
                    </div>
                       <div class="progress progress-striped active">
                            <div class="progress-bar6 progress-bar-warning" style="width:0%"><p>Ruby on Rails</p></div>
                    </div>
                    </div>
                    
                   <div class="col-xs-6 col-sm-6 progress-container">
                         <div class="progress progress-striped active">
                            <div class="progress-bar7 progress-bar-warning" style="width:0%"><p>JavaScript</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-bar8 progress-bar-warning" style="width:0%"><p>jQuery</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-bar9 progress-bar-warning" style="width:0%"><p>JSON</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-bar10 progress-bar-warning" style="width:0%"><p>Photoshop</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-bar11 progress-bar-warning" style="width:0%"><p>GIT</p></div>
                    </div>
                      <div class="progress progress-striped active">
                            <div class="progress-bar12 progress-bar-warning" style="width:0%"><p>Agile development</p></div>
                    </div>
                     <div class="wow bounce" data-wow-iteration="infinite" data-wow-duration="3000ms">
                      <div class="progress progress-striped active">
                            <div class="progress-bar13 progress-bar-warning " style="width:0%"><p>Willingness to learn more</p></div>
                            </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
