<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-blue">School Projects</h2>
                <hr class="border-blue">
            </div>
        <div class="row space-bottom-40">
            <div class="col-lg-4 col-sm-6 col-lg-offset-2">
                <a data-toggle="modal" data-target="#myModal1" class="portfolio-box">
                    <img src="img/portfolio/adventure.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Ruby On Rails 
                            </div>
                            <div class="project-name">
                                E-commerce
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
           
            <div id="myModal1" class="modal fade" role="dialog">
              <div class="modal-dialog modal-xl">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Ruby On Rails: E-commerce</h1>
                      </div>
                      <div class="modal-body row">
                          <div class="col-xs-8 col-sm-8 progress-container">
                                  <img src="img/portfolio/adventure.png" class="img-responsive padding-img" alt="">
                              </div>
                             
                        <p class="textPort">I was required to design and develop an e-commerce web application for a domain/business using Ruby on Rails.</p>
                        <br>
                      <p class="textPort"> This e-commerce site allowed users to login, browse inventory and add to the cart and checkout. Throughout this project I was exposed to conceptual and technical skills in the analysis, design and implementation of a software system using Object Oriented Concepts. Furthermore, I gained expertise in database management systems, as well as practical skills needed to design, implement and use these systems.</p>
                        <p class="textPort"><a href="https://github.com/jose167/Adventure-holiday">Check it on Github!</a></p>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
                </div>
            
       
            <div class="col-lg-4 col-sm-6">
                <a data-toggle="modal" data-target="#myModal2" class="portfolio-box">
                    <img src="img/portfolio/solution.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                .net Framework
                            </div>
                            <div class="project-name">
                                 ASP.net,VB, XML, JavaScript, HTML and CSS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div id="myModal2" class="modal fade" role="dialog">
              <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">.net Framework (VB)</h1>
                      </div>
                      <div class="modal-body row">
                          <div class="col-xs-8 col-sm-8 progress-container">
                                  <img src="img/portfolio/solution.png" class="img-responsive padding-img" alt="">
                              </div>
                              <div class="textPort">
                        <p>A web driven dynamic front end of a customer/stock management tool. This projec was built on the .net Framework using ASP.net (webforms), XML, JavaScript, HTML and CSS.</p>
                      <p>The website include the following requirements </p>
                      <ul>
                          <li>Search facility for the website</li>
                          <li>Data entry screen to add a new customer</li>
                          <li>Add a validation routine to submitted forms for new stock item via data entry web form</li>
                          <li>Master/Detail screen of customers’ orders</li>
                          <li>Data Access Layer connected to the stock table; allow updates/edits/deletion</li>
                          <li>Web form that will add elements to an XML file, and a secondary linked web form that will allow a user to edit said XML file</li>
                          <li>Web form using an ADO.net connection to the ‘Suppliers’ table to display all relevant details</li>
                      </ul>
                      <p class="textPort"><a href=https://github.com/jose167/.NETproject>Check it on Github!</a></p>
                      </div>
                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
            
        </div>
        <div class="row space-bottom-60">
            <div class="col-lg-4 col-sm-6 col-lg-offset-2">
                <a data-toggle="modal" data-target="#myModal3"class="portfolio-box">
                    <img src="img/portfolio/third.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                multimedia production 
                            </div>
                            <div class="project-name">
                                Animation, Video production, marketing, HTML5 
                        </div>
                    </div>
                   </div>
                </a>
            </div>
            <div id="myModal3" class="modal fade" role="dialog">
              <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Multimedia Production</h1>
                      </div>
                         <div class="modal-body row">
                          <div class="col-xs-8 col-sm-8 progress-container">
                                  <img src="img/portfolio/third.png" class="img-responsive padding-img" alt="">
                              </div>
                              <div class="textPort">
                                <p>The initial project concept was to create a marketing campaign to re-brand the Cafe/Restaurant Third Space.</p>
                        <p>After researching competitors and identifying Third Spaces unique presence in the market place, 
                        I began the  marketing campaign by first creating wire-frames to demonstrate the proposed layout of the website and storyboards to illustrate the structure of the  promotional videos, whose primary focus would be to advertise the Third Space coffee product and raise awareness of events and gatherings held at the 
                        Restaurant.</p>
                        
                        <p>A new logo was created as a vector graphic in illustrator which can be scaled to any size without losing detail. I also created the images for the website through the use of photography and image manipulation using Photoshop. </p>
                          <p>The website was designed using a combination of multimedia web technologies such as HTML5 and made responsive so it can be easily viewed on mobile devices.</p>
                           <p class="textPort"><a href="https://www.youtube.com/watch?v=57qLkEa5o_A">Check the  promotional video</a></p>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
            <div class="col-lg-4 col-sm-6">
                <a data-toggle="modal" data-target="#myModal4"class="portfolio-box">
                    <img src="img/portfolio/finalProject.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Final Project
                            </div>
                            <div class="project-name">
                                 ASP.NET MVC5, C# and Entity Framework.
                        </div>
                    </div>
                   </div>
                </a>
            </div>
            
            <div id="myModal4" class="modal fade" role="dialog">
              <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Final Project (C #)</h1>
                      </div>
                         <div class="modal-body row">
                          <div class="col-xs-8 col-sm-8">
                                  <img src="img/portfolio/finalProject.png" class="img-responsive" alt="">
                              </div>
                              <div class="textPort">
                                <p>This Project aims to develop a web application that is user friendly, for people who like to keep up to date with the latest work and upcoming events of their favorite artists (musicians, photographers, writers, painters and others).</p>
                                <p>The application is built using ASP.NET MVC5, C# and Entity Framework.</p>
                                <ul>Implementation: </ul>
                                    <li>Visual Studio 2015</li>
                                    <li>Version Control GIT</li>
                                    <li>Code First Migration</li>
                                    <li>VIewModel Pattern</li>
                                    <li>Web API 2 (C#)</li>
                                    <li>Jquery and Ajax</li>
                                    <li>DTO (Data Transfer Object) </li>
                                    <li>Manual Mapping /Auto Mapper</li>
                    
                           <p class="textPort"><a href="https://github.com/jose167/artCircler">Check it on Gitgub</a></p>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
                
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-blue">Work Projects</h2>
                <hr class="blue-border">
            </div>
            <div class="row space-bottom-40">
            <div class="col-lg-4 col-sm-6 col-lg-offset-2">
                <a data-toggle="modal" data-target="#myModal5" class="portfolio-box">
                    <img src="img/portfolio/coursiqa.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Coursiqa
                            </div>
                            <div class="project-name">
                                Educational Software 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
            <div id="myModal5" class="modal fade" role="dialog">
              <div class="modal-dialog modal-xl">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Coursiqa</h1>
                      </div>
                      <div class="modal-body row">
                          <div class="col-xs-8 col-sm-8 progress-container">
                                  <img src="img/portfolio/coursiqa.png" class="img-responsive padding-img" alt="">
                              </div>
                             
                        <p class="textPort">Coursiqa provide off the shel software solutions for schools.  To this end, we develop intuitive, easy to use mobile and web based applications and provide apps as API's.</p>
                        <br>
                        <p class="textPort"> I work as part of the development team to produce an improved user interface for their products using Foundation framework, HTML, CSS and JavaScript.</p>
                        <p class="textPort"> I work back-end with Ruby on Rails implementing designs within this framework.</p>
                        <p class="textPort"> Assist in the planning, scheduling, and tracking of projects. Working in a collaborative team, utilising the Agile methodology.</p>
                        <p class="textPort"><a href="http://www.coursiqa.com/">Coursiqa Website!</a></p>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
                </div>
            
       
            <div class="col-lg-4 col-sm-6">
                <a data-toggle="modal" data-target="#myModal6" class="portfolio-box">
                    <img src="img/portfolio/maithu.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Maithu 
                            </div>
                            <div class="project-name">
                                 IT Solution
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div id="myModal6" class="modal fade" role="dialog">
              <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Maithu</h1>
                      </div>
                      <div class="modal-body row">
                          <div class="col-xs-8 col-sm-8 progress-container">
                                  <img src="img/portfolio/maithu.png" class="img-responsive padding-img" alt="">
                              </div>
                              <div class="textPort">
                       <p>Working within a team to deliver mobile phone applications, web development and bespoke software solutions for a wide range of companies, as well as producing suite of medical software tools.</p>
                        <p>Supporting front-end Django development for a diverse collection of applications (HTML, CSS, Bootstrap, JQuery, JavaScript, Angular Js).</p>
                        <p>I was required to develop new features within the application and fix bugs assigned to me by the development manager.</p>
                        <p>Ensuring UI/UX designs are implemented in a consistent manner and in accordance with the style guidelines.</p>
                        <p>Providing responsive design.</p>
                        <p>Using git VCS.</p>
                        <p>Helping the Design team using Photoshop and illustrator.</p>
                        <p class="textPort"><a href="http://www.maithu.com/">Maithu Website!</a></p>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
        </div>
    </div>
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="wow tada section-heading-blue">And many more to come!</h2>
          </div>
      </div>
</section>
